<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Areas/HelpPage/Site.css" rel="stylesheet" />
 @*   <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"  />
    @RenderSection("Styles", false)

      @Styles.Render("~/Content/Site.css")*@
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>